<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta "content_security_policy":
        "script-src 'self' https://apis.google.com https://www.googleapis.com https://securetoken.googleapis.com; object-src 'self'", "permissions": [ "https://*/*", "activeTab"]>

    <title>Enquete</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/ui-bootstrap-csp.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="assets/css/3-col-portfolio.css" rel="stylesheet">
    <link href="assets/css/custom.css" rel="stylesheet">

    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-route.min.js"></script>
    <script src="assets/js/angular-ui-router.min.js"></script>
    <script src="assets/js/ui-bootstrap-tpls.js"></script>
    <script src="assets/js/validate.min.js"></script>

    <script src="assets/js/firebase.js"></script>
    <script src="assets/js/angularfire.min.js"></script>

    <!-- Modules -->
    <script src="app.module.js"></script>
    <script src="app.routes.js"></script>

    <!-- Factories -->
    <script src="factories/firebase.factory.js"></script>
    <script src="factories/modal.factory.js"></script>

    <!-- Services -->
    <script src="services/quizzes.service.js"></script>
    <script src="services/votes.service.js"></script>
    <script src="services/auth.service.js"></script>

    <!-- Controllers -->
    <script src="controllers/main.controller.js"></script>
    <script src="controllers/home.controller.js"></script>
    <script src="controllers/create.controller.js"></script>
    <script src="controllers/vote.controller.js"></script>
    <script src="controllers/auth/login.controller.js"></script>
    <script src="controllers/auth/createUser.controller.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-app="app" ng-controller="mainController">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="home">Enquete</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" ng-controller="loginController">
                    <li>
                        <a ui-sref="create">Criar</a>
                    </li>
                    <li>
                        <a ui-sref="search">Procurar</a>
                    </li>
                    <li ng-hide="isAuthenticated">
                        <a ui-sref="login">Login</a>
                    </li>
                    <li ng-show="isAuthenticated">
                        <a ng-click="signOut()">Logoff</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')"
            style="margin-top:10px" 
            dismiss-on-timeout="5000" close="closeAlert($index)">{{alert.msg}}
        </div>
        <div ui-view></div>
    </div>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Enquete 2016</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>
    </div>
    <!-- /.container -->
</body>

</html>