<div class="col-md-6" ng-controller="createController" >
    <h1>Criar Enquete</h1>
    <form>
        <div class="form-group">
            <label for="tittle">Título</label>
            <input type="text" class="form-control" id="title" placeholder="Titulo da enquete" 
                    ng-model="quiz.title" >
        </div>
        <div class="form-group">
            <label for="description">Descrição:</label>
            <textarea class="form-control" rows="5" id="description" placeholder="Descrição da enquete" 
                ng-model="quiz.description"></textarea>
        </div>
        <div class="form-group">
            <label for="description">Opções:</label>
            <input type="text" class="form-control" ng-repeat="opt in quiz.options" 
                placeholder="{{ 'Opção ' + opt.id }}" 
                ng-model="opt.desc">
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="addOption()">
                <span class="glyphicon glyphicon-plus text-right" </span> Adicionar
            </button>
            <button type="button" class="btn btn-default" aria-label="Left Align" 
                ng-click="removeOption()" ng-disabled="quiz.options.length < 3" >
                <span class="glyphicon glyphicon-minus text-right"></span> Remover
            </button>
        </div>
        <div class="text-center">
            <input type="submit" class="btn btn-default" value="Criar" ng-click="create()">
        </div>
    </form>
</div>